*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.input-group-turns{
    position: relative;
    margin: 20px 0;
    border-bottom: 2px solid #fff;
}
.input-group-turns label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #Fff;
    pointer-events: none;
    transition: .5s;
}
.input-group-turns input{
    max-width: auto;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
}
.input-group-turns input:focus~label,
.input-group-turns input:valid~label{
    top: -5px;
}
.input-group-turns input:{
    color: black !important;
    background-color: red !important;
}

.turnos{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.select-especialidad-turno{
    color: rgb(19, 19, 19) !important;
}
.formularioTurnos{
    position: relative;
    width: 800px;
    height: 650px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .1);
    padding: 40px;
}

input[type="date"] label {
    color: #999; /* Color de texto desvanecido */
    background-color: red;
  }
  
  input[type="date"]:focus::before,
  input[type="date"]:valid::before {
    content: ""; /* Eliminar el texto del placeholder cuando se selecciona una fecha */
  }