.h4-add-especialidades{
    position: relative;
    padding: 0 !important;
    margin-top: 16px;
    text-align: center;
    text-decoration: none !important;
}
.h4-agregar-Especialidad {
    text-decoration: underline !important;
}
.h4-add-especialidades:hover .tooltipPanel{
    top: -45px;
    opacity: 1 !important;
    visibility: visible !important;
    pointer-events: auto;
    color: black !important;
    padding-inline: 10px;
}

.div-add-especialidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.div-add-especialidades-input {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100% !important;
}
.div-add-especialidades-input label{
    width: 100px;
}
.div-add-especialidades-input input{
    padding: 0px 3px;
    width: 280px;
    color: black !important;
}

.btn-approve-admin{
    background-color: rgb(0, 107, 0) !important;
    width: 86px;
    height: 36px;
    align-self: center;
    display: grid;
    place-content: center;
    transition: 0.25s;
    border-radius: 8px !important;
}
.btn-approve-admin-add{
    background-color: rgb(0, 107, 0) !important;
    width: 86px;
    height: 36px;
    align-self: center;
    display: grid;
    place-content: center;
    transition: 0.25s;
    border-radius: 8px !important;
}
.btn-approve-admin:hover,
.btn-approve-admin-add:hover {
    background-color: rgb(0, 154, 0) !important;
}
.tooltipPanel {
    position: absolute;
    top: 0;
    font-size: 0.8rem;
    background: #fff;
    color: #fff;
    border-radius: 5px;
    opacity: 0 !important;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.tooltipPanel::before{
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.turnos-panel-show:hover .tooltipPanel{
    top: -45px;
    opacity: 1 !important;
    visibility: visible !important;
    pointer-events: auto;
    color: black !important;
    padding-inline: 10px;
}
.span-danger{
    color: red !important;
    text-decoration: none !important;
}
.div-delete-especialidades{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
    height: 50px;
    max-width: 100%;
    gap: 2px;
}
.div-delete-especialidades:hover {
    background-color: rgb(140, 140, 140);
}
.span-especialidades {
    width: 100% !important;
    overflow: hidden !important;
    padding-inline: 2px;
}
.btn-update-img{
    width: 110px;
    height: 38px;
    align-self: center;
    background-color: rgb(0, 43, 143) !important;
    transition: 0.2s;
    border-radius: 10px !important;
}
.btn-update-img:hover{
    background-color: rgb(4, 72, 232) !important;
}
.btn-delete-admin-esp{
    background-color: red !important;
    width: 94px;
    height: 38px;
    align-self: center !important;
    border-radius: 10px !important;
}
.div-update-img-especialidades{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 10%;
    left: 16%;
    right: 16%;
    max-width: 65dvw;
    background-color: rgba(0, 0, 0, 0.936) !important;
    height: 80dvh !important;
    z-index: 4;
}
.div-update-img-especialidades h5 {
    padding-bottom: 60px;
    text-align: center;
}
.div-update-img-especialidades label {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 36px;
    max-width: 80dvw !important;
    margin: 10px 0px;
    padding-bottom: 20px;
}
.div-update-img-especialidades input {
    height: 36px;
    max-width: 100% !important;
    margin: 10px 0px;
    color: black !important;
}
.btn-div-update-img{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-div-update-img .cancelar-img {
    background-color: red;
}
.btn-min-width{
    display: none;
}
.btn-normal-width{
    display: inline;
}
@media (max-width: 550px){
    .btn-min-width{
        display: block;
    }
    .btn-normal-width{
        display: none;
    }
    .btn-delete-admin-esp{
        width: 60px !important;
        height: 38px;
        margin: 0 !important;
        padding: 0 !important;
        align-self: center !important;
    }
    .btn-update-img{
        width: 60px !important;
        height: 38px;
        margin: 0 !important;
        padding: 0 !important;
        align-self: center !important;
    }
    .div-update-img-especialidades{
        max-width: fit-content;
        left: 0;
    }
}