.sacarTurno{
    position: fixed;
    z-index: 4;
}

.turnos-float {
    border-radius: 20px;
    background-color: rgba(18, 150, 13, 0.999);
    border: 2px solid rgba(245, 246, 245, 0.999);
    min-width: 140px;
    min-height: 40px;
    vertical-align: middle;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0px 20px 36px 0px;
    overflow: hidden;
    transition: 0.3s ease-in;
    letter-spacing: 1px;
    font-weight: bold;
}
.sacarTurno :nth-child(1) {
    padding: 10px;
}
.turnos-float select, option {
    color: black !important;
}
.turnos-float button{
    color: black !important;
    border-radius: 10px;
    padding: 0px 4px;
}

.turnos-float.hide {
    transform: translateX(300%);
}

.sacarTurno span:hover{
    cursor: pointer;
    transition: 0.3s;
    background-color: rgba(18, 150, 13, 0.999);
    box-shadow: -100px -100px 1px 2200px rgba(0, 0, 0, 0.25);
    border: 2px solid white;
}
.sacarTurno button {
    margin-top: 6px;
}
.sacarTurno input {
    margin-bottom: 6px;
}

.div-turnos-component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 5px;
    background-color: rgba(18, 150, 13, 0.999);
}

.btn-sacarTurno,
.btn-misTurnos {
    height: 32px;
    display: grid;
    place-content: center;
    border-radius: 10px;
    background-color: rgb(45, 45, 45);

}
.btn-sacarTurno a,
.btn-misTurnos a {
    text-decoration: none;
}

.btn-sacarTurno:hover,
.btn-misTurnos:hover {
    text-decoration: underline;
    background-color: rgb(37, 53, 200);
}