.sacarTurno{
    position: fixed;
    z-index: 4;
}

.turnos-float {
    border-radius: 20px;
    background-color: rgba(23, 146, 19, 0.999);
    border: 2px solid rgba(23, 146, 19, 0.999);
    min-width: 200px;
    min-height: 40px;
    vertical-align: middle;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0px 20px 36px 0px;
    overflow: hidden;
    transition: 0.3s ease-in;
}
.sacarTurno :nth-child(1) {
    padding: 10px;
}
.turnos-float select, option {
    height: 20px;
    color: black !important;
}
.turnos-float button{
    color: black !important;
    border-radius: 10px;
    padding: 0px 4px;
}

.turnos-float.hide {
    transform: translateX(300%);
}

.sacarTurno span:hover{
    cursor: pointer;
    transition: 0.3s;
    text-decoration: underline;
    background-color: rgba(30, 174, 25, 0.999);
    box-shadow: -100px -100px 1px 2200px rgba(0, 0, 0, 0.25);
    letter-spacing: 1px;
    border: 2px solid white;
}
.sacarTurno button {
    margin-top: 6px;
}
.sacarTurno input {
    margin-bottom: 6px;
}
