.panelUser{
    min-height: 90dvh;
    margin-top: 20px;
}

.panelUserData p {
    margin: 1px;
}
.panelUser-column {
    display: grid;
    grid-template-columns: 25% minmax(auto,2fr );
    gap: 20px;
}
.panelUser-column img {
    max-width: 200px;
    justify-self: flex-end;
    padding: 10px 0px;
}
.panelUser-column div {
    background-color: rgba(28, 28, 28, 0.635);
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    width: 95%;
}

.panelUser-column h2 {
    text-decoration: underline;
}

.turnos-panel-show{
    max-width: 85dvw;
    margin: 3px !important;
    padding: 0 !important;
    line-height: 34px;
    display: grid;
    grid-template-columns: 4fr 0.5fr;
    border-bottom: 1px solid black;
    gap: 4px;
}

.columnDoctorsToAprobe{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    place-items: center !important;

}
.doctorToApprove{
    max-width: 85dvw;
    margin: 3px !important;
    padding: 0 !important;
    line-height: 34px;
    display: grid;
    grid-template-columns: 2fr 1.2fr 0.5fr;
    border-bottom: 1px solid black;
    gap: 4px;
}
.turnos-panel-show:hover,
.doctorToApprove:hover{
    cursor: pointer;
    transition: 0.15s;
    background-color: rgb(136, 135, 135) !important;
}
.doctorToAprobe span  {
    margin: auto 0px !important;
}
.columnDoctorsToAprobe button{
    color: rgb(230, 230, 230) !important;
    background-color: green;
    padding-inline: 14px;
    border-radius: 4px;
}
.columnDoctorsToAprobe button:hover{
    color: rgb(230, 230, 230) !important;
    background-color: rgb(69, 83, 69);
    padding-inline: 14px;
    border-radius: 4px;
}
.div-btn-showAll-and-input{
    display: flex;
    gap: 6px;
    place-content: center;
}

.div-btn-showAll-and-input button{
    width: 140px;
}

.searchDNI {
    color: black !important;
}
.btn-approve-admin{
    background-color: rgb(0, 107, 0) !important;
    width: 86px;
    height: 38px;
    align-self: center;
}
.btn-update-img{
    background-color: rgb(0, 107, 0) !important;
    min-width: 148px;
    height: 38px;
    align-self: center;
}
.btn-delete-admin{
    background-color: red !important;
    width: 86px;
    height: 38px;
    align-self: center;
}
.btn-manage-doc{
    display: flex;
    margin: 1px 3px;

}

.h4-add-especialidades{
    margin-top: 16px;
    text-align: center;
}
.div-add-especialidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.div-add-especialidades-input {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.div-add-especialidades-input label{
    width: 100px;
}
.div-add-especialidades-input input{
    padding: 0px 3px;
    width: 280px;
    color: black !important;
}

.div-delete-especialidades{
    display: flex;
    justify-content: center;
    align-items: center;
}
.span-especialidades {
    width: 160px !important;
}
.span-danger{
    color: red !important;
}

.div-update-img-especialidades{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 10%;
    left: 16%;
    right: 16%;
    max-width: 65dvw;
    background-color: black !important;
    height: 80dvh !important;
    z-index: 4;
}
.div-update-img-especialidades h5 {
    padding-bottom: 60px;
    text-align: center;
}
.div-update-img-especialidades label {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 36px;
    max-width: 80dvw !important;
    margin: 10px 0px;
    padding-bottom: 20px;
}
.div-update-img-especialidades input {
    height: 36px;
    max-width: 100% !important;
    margin: 10px 0px;
    color: black !important;
}
.btn-div-update-img{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn-div-update-img .cancelar-img {
    background-color: red;
}

@media (max-width: 930px) {
    .panelUser-column img  {
        display: none;
    }
    .panelUser-column div{
        width: 95dvw;
        margin: 0px 12px 0px 12px;
    }
    .panelUser {
        margin: auto !important;
    }
    .panelUser-column {
        margin: auto !important;
    }
}

