.panelUser{
    min-height: 90dvh;
    margin: 20px 0px 0px 0px !important;
}
.panelUserDeslog{
    height: 85dvh;
    display: grid;
    place-content: center;
    background-color: rgba(0, 0, 0, 0.339);
}
.panelUserData{
    max-width: 99% !important;
}
.panelUserData p {
    margin: 1px;
}
.datos-user{
    margin: 0px 0px 18px 0px !important;
    max-width: 100% !important;
}
.panelUser-column {
    display: grid;
    grid-template-columns: 20% minmax(auto,2fr );
    gap: 20px;
}
.panelUser-column img {
    max-width: 200px;
    justify-self: flex-end;
    padding: 10px 0px;
}
.panelUser-column div {
    background-color: rgba(28, 28, 28, 0.635);
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    width: 100%;
}

.panelUser-column h2,
.panelUser-column h4 {
    text-decoration: underline;
    padding-block: 3px;
}
.btn-delete-admin {
    background-color: red !important;
    width: 94px;
    height: 38px;
    align-self: center !important;
    transition: 0.2s;
    border-radius: 8px !important;
}
.btn-delete-admin-vencido {
    background-color: rgb(49, 49, 49) !important;
    width: 94px;
    height: 38px;
    align-self: center !important;
    transition: 0.2s;
    border-radius: 8px !important;
}
.btn-delete-admin:hover {
    scale: 1.1;
    background-color: rgb(141, 16, 16) !important;
}

.columnDoctorsToAprobe{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    place-items: center !important;

}

.columnDoctorsToAprobe button{
    color: rgb(230, 230, 230) !important;
    background-color: green;
    padding-inline: 14px;
    border-radius: 4px;
}
.columnDoctorsToAprobe button:hover{
    color: rgb(230, 230, 230) !important;
    background-color: rgb(69, 83, 69);
    padding-inline: 14px;
    border-radius: 4px;
    scale: 1.1;
}
.columnDoctorsToAprobe input:focus{
    box-shadow: 0px 0px 10px 6px rgba(7,224,195,1);
}


@media (max-width: 930px) {
    .panelUser-column img  {
        display: none;
    }
    .panelUser-column div{
        width: 97dvw;
        margin: 0px 12px 0px 4px;
    }
    .panelUser {
        margin: auto !important;
    }
    .panelUser-column {
        margin: auto !important;
    }
}

.fueraDeFecha{
    background-color: black !important;
}



@media (max-width: 550px){
    .btn-delete-admin-vencido{
        user-select: none;
        width: 45px !important;
        height: 38px;
        align-self: center !important;
    }
}