#root {
  min-width: 98dvw;
  margin: 0 auto;
  text-align: center;
  background-position: center;
  background-size: cover;
  min-height: 100dvh;
  background-image: url("https://wallpapers.com/images/featured/healthcare-oco8w27tkw40cp90.jpg"); 
  background-repeat: no-repeat;
  background-attachment: fixed;
        -webkit-animation: slidein 10s;
        animation: slidein 10s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;    
} 


@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -200px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -200px 0px;background-size:2750px;}

}